<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Tool match #<%= @tool_match.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tool_matches" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link tool_match start -->
      <div class="col">
        <a href="/tool_matches/<%= @tool_match.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit tool match
        </a>
      </div>
      <!-- Edit link tool_match end -->

      <!-- Delete link tool_match start -->
      <div class="col">
        <a href="/delete_tool_match/<%= @tool_match.id %>" class="btn btn-block btn-outline-secondary">
          Delete tool match
        </a>
      </div>
      <!-- Delete link tool_match end -->
    </div>

    <dl>
      <dt>
        Beans
      </dt>
      <!-- Display beans_id start -->
      <dd>
        <% if @tool_match.beans.present? %>
          <a href="/beans/<%= @tool_match.beans_id %>">
            <%= @tool_match.beans.origin %>
          </a>
        <% end %>
      </dd>
      <!-- Display beans_id end -->

      <dt>
        Tools
      </dt>
      <!-- Display tools_id start -->
      <dd>
        <% if @tool_match.tools.present? %>
          <a href="/tools/<%= @tool_match.tools_id %>">
            <%= @tool_match.tools.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display tools_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@tool_match.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@tool_match.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
