<!-- Validation failure messages -->
<% if @bean.errors.any? %>
  <% @bean.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit bean #<%= @bean.id %>
</h1>

<hr>

<!-- Form bean start -->
<form action="/update_bean/<%= @bean.id %>" method="post" enctype="multipart/form-data">
<!-- Form bean end -->

  <!-- Label and input for origin start -->
  <div class="form-group">
    <label for="origin">
      Origin
    </label>

    <!-- Input for origin start -->
    <input type="text" id="origin" name="origin" class="form-control" value="<%= @bean.origin %>">
    <!-- Input for origin end -->
  </div>
  <!-- Label and input for origin end -->

  <!-- Label and input for roast start -->
  <div class="form-group">
    <label for="roast">
      Roast
    </label>

    <!-- Input for roast start -->
    <input type="text" id="roast" name="roast" class="form-control" value="<%= @bean.roast %>">
    <!-- Input for roast end -->
  </div>
  <!-- Label and input for roast end -->

  <!-- Label and input for process_method start -->
  <div class="form-group">
    <label for="process_method">
      Process method
    </label>

    <!-- Input for process_method start -->
    <input type="text" id="process_method" name="process_method" class="form-control" value="<%= @bean.process_method %>">
    <!-- Input for process_method end -->
  </div>
  <!-- Label and input for process_method end -->

  <!-- Label and input for flavor start -->
  <div class="form-group">
    <label for="flavor">
      Flavor
    </label>

    <!-- Input for flavor start -->
    <input type="text" id="flavor" name="flavor" class="form-control" value="<%= @bean.flavor %>">
    <!-- Input for flavor end -->
  </div>
  <!-- Label and input for flavor end -->

  <!-- Label and input for altitude start -->
  <div class="form-group">
    <label for="altitude">
      Altitude
    </label>

    <!-- Input for altitude start -->
    <input type="text" id="altitude" name="altitude" class="form-control" value="<%= @bean.altitude %>">
    <!-- Input for altitude end -->
  </div>
  <!-- Label and input for altitude end -->

  <!-- Label and input for precipitation start -->
  <div class="form-group">
    <label for="precipitation">
      Precipitation
    </label>

    <!-- Input for precipitation start -->
    <input type="text" id="precipitation" name="precipitation" class="form-control" value="<%= @bean.precipitation %>">
    <!-- Input for precipitation end -->
  </div>
  <!-- Label and input for precipitation end -->

  <!-- Label and input for instruction start -->
  <div class="form-group">
    <label for="instruction">
      Instruction
    </label>

    <!-- Input for instruction start -->
    <textarea id="instruction" name="instruction" class="form-control" rows="3"><%= @bean.instruction %></textarea>
    <!-- Input for instruction end -->
  </div>
  <!-- Label and input for instruction end -->

  <!-- Label and input for recommended_machine_id start -->
  <div class="form-group">
    <label for="recommended_machine_id">
      Recommended machine
    </label>

    <!-- Input for recommended_machine_id start -->
    <%= select_tag(:recommended_machine_id, options_from_collection_for_select(Machine.all, :id, :name, @bean.recommended_machine_id), :class => "form-control") %>
    <!-- Input for recommended_machine_id end -->
  </div>
  <!-- Label and input for recommended_machine_id end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <%= cl_image_tag(@bean.photo.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="photo" name="photo" class="form-control">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <button class="btn btn-block btn-outline-secondary">
    Update bean
  </button>
</form>

<hr>

<a href="/beans">
  Go back
</a>
