<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All beans
    </h1>

    <a href="/beans/new" class="btn btn-block btn-outline-secondary">
      Add a new bean
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "bean_templates/beans_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Origin
        </th>

        <th>
          Roast
        </th>

        <th>
          Process method
        </th>

        <th>
          Flavor
        </th>

        <th>
          Altitude
        </th>

        <th>
          Precipitation
        </th>

        <th>
          Instruction
        </th>

        <th>
          Recommended machine
        </th>

        <th>
          Photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @beans.each do |bean| %>
      <tr>
        <td>
          <%= bean.id %>
        </td>

        <td>
          <%= bean.origin %>
        </td>

        <td>
          <%= bean.roast %>
        </td>

        <td>
          <%= bean.process_method %>
        </td>

        <td>
          <%= bean.flavor %>
        </td>

        <td>
          <%= bean.altitude %>
        </td>

        <td>
          <%= bean.precipitation %>
        </td>

        <td>
          <%= bean.instruction %>
        </td>

        <td>
          <% if bean.recommended_machine.present? %>
            <a href="/machines/<%= bean.recommended_machine.id %>">
              <%= bean.recommended_machine.name %>
            </a>
          <% end %>
        </td>

        <td>
          <img src='<%= bean.photo %>' class='img-fluid'>
        </td>

        <td>
          <%= time_ago_in_words(bean.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(bean.updated_at) %> ago
        </td>

        <td>
          <a href="/beans/<%= bean.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @beans, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
