<!-- Validation failure messages -->
<% if @company.errors.any? %>
  <% @company.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit company #<%= @company.id %>
</h1>

<hr>

<!-- Form company start -->
<form action="/update_company/<%= @company.id %>" method="post">
<!-- Form company end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="text" id="photo" name="photo" class="form-control" value="<%= @company.photo %>">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <!-- Label and input for caption start -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <!-- Input for caption start -->
    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @company.caption %></textarea>
    <!-- Input for caption end -->
  </div>
  <!-- Label and input for caption end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <textarea id="title" name="title" class="form-control" rows="3"><%= @company.title %></textarea>
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <button class="btn btn-block btn-outline-secondary">
    Update company
  </button>
</form>

<hr>

<a href="/companies">
  Go back
</a>
