<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Company #<%= @company.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/companies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link company start -->
      <div class="col">
        <a href="/companies/<%= @company.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit company
        </a>
      </div>
      <!-- Edit link company end -->

      <!-- Delete link company start -->
      <div class="col">
        <a href="/delete_company/<%= @company.id %>" class="btn btn-block btn-outline-secondary">
          Delete company
        </a>
      </div>
      <!-- Delete link company end -->
    </div>

    <dl>
      <dt>
        Photo
      </dt>
      <!-- Display photo start -->
      <dd>
        <%= @company.photo %>
      </dd>
      <!-- Display photo end -->

      <dt>
        Caption
      </dt>
      <!-- Display caption start -->
      <dd>
        <%= @company.caption %>
      </dd>
      <!-- Display caption end -->

      <dt>
        Title
      </dt>
      <!-- Display title start -->
      <dd>
        <%= @company.title %>
      </dd>
      <!-- Display title end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@company.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@company.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
