<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Blogpost #<%= @blogpost.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/blogposts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link blogpost start -->
      <div class="col">
        <a href="/blogposts/<%= @blogpost.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit blogpost
        </a>
      </div>
      <!-- Edit link blogpost end -->

      <!-- Delete link blogpost start -->
      <div class="col">
        <a href="/delete_blogpost/<%= @blogpost.id %>" class="btn btn-block btn-outline-secondary">
          Delete blogpost
        </a>
      </div>
      <!-- Delete link blogpost end -->
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <!-- Display caption start -->
      <dd>
        <%= @blogpost.caption %>
      </dd>
      <!-- Display caption end -->

      <dt>
        Image
      </dt>
      <!-- Display image start -->
      <dd>
        <%= @blogpost.image %>
      </dd>
      <!-- Display image end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @blogpost.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@blogpost.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@blogpost.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "blogpost_templates/blogpost_bookmarks" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "blogpost_templates/blogpost_comments" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "blogpost_templates/blogpost_bookmarked_users" %>
  </div>
</div>
<!-- Show Page Customization end -->
