<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All tools
    </h1>

    <a href="/tools/new" class="btn btn-block btn-outline-secondary">
      Add a new tool
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "tool_templates/tools_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Price
        </th>

        <th>
          Photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @tools.each do |tool| %>
      <tr>
        <td>
          <%= tool.id %>
        </td>

        <td>
          <%= tool.name %>
        </td>

        <td>
          <%= tool.price %>
        </td>

        <td>
          <img src='<%= tool.photo %>' class='img-fluid'>
        </td>

        <td>
          <%= time_ago_in_words(tool.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(tool.updated_at) %> ago
        </td>

        <td>
          <a href="/tools/<%= tool.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @tools, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
