<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Tool #<%= @tool.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tools" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/tools/<%= @tool.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit tool
        </a>
      </div>

      <div class="col">
        <a href="/delete_tool/<%= @tool.id %>" class="btn btn-block btn-outline-secondary">
          Delete tool
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @tool.name %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @tool.price %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @tool.photo %>" class="img-fluid">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@tool.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@tool.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "tool_templates/tool_tool_matches" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "tool_templates/tool_beans" %>
  </div>
</div>
