<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Machine #<%= @machine.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/machines" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link machine start -->
      <div class="col">
        <a href="/machines/<%= @machine.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit machine
        </a>
      </div>
      <!-- Edit link machine end -->

      <!-- Delete link machine start -->
      <div class="col">
        <a href="/delete_machine/<%= @machine.id %>" class="btn btn-block btn-outline-secondary">
          Delete machine
        </a>
      </div>
      <!-- Delete link machine end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @machine.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Price
      </dt>
      <!-- Display price start -->
      <dd>
        <%= @machine.price %>
      </dd>
      <!-- Display price end -->

      <dt>
        Service
      </dt>
      <!-- Display service start -->
      <dd>
        <%= @machine.service %>
      </dd>
      <!-- Display service end -->

      <dt>
        Photo
      </dt>
      <!-- Display photo start -->
      <dd>
        <img src="<%= @machine.photo %>" class="img-fluid">
      </dd>
      <!-- Display photo end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@machine.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@machine.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "machine_templates/machine_beans" %>
  </div>
</div>
<!-- Show Page Customization end -->
